<div class="center jumbotron">
  <h1> Welcome to the Weather App </h1>

  <h2>
    This is the Home Page for the Weather App.
  </h2>


    <%= link_to "See list of locations", locations_path %>

    <%= link_to "Get the weather for a new location", 'locations/new' %>

</div>
