<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) | Weather App </title>
  </head>
  <body>
    <h1> Weather App </h1>
    <p>
      This is the Home Page for the Weather App.
    </p>
  </body>
</html>
