<<<<<<< a96081f0eaa414403cc103afbb280c0c0433d8a9
<header class = "navbar navbar-nav navbar-inverse">
=======
<header class = "navbar navbar-fixed-top navbar-inverse">
>>>>>>> Add bootstrap-sass to implement style changes
  <div class = "container">
    <%= link_to "Weather App", '/home', id:"logo" %>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Home", '/home' %></li>
        <li><%= link_to "Locations", '/locations' %></li>
      </ul>
    </nav>
  </div>
<header>
